@import '../theme/variables.css';

.board {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.kanban-wrapper {
    display: flex;
    flex: 1;
    gap: 24px;
    align-items: stretch;
    margin-block: 30px;
    overflow: hidden;

    & h4 {
        font-size: 20px;
    }

    & .kanban-column {
        min-width: 340px;
        flex: 0 0 340px;
        display: flex;
        flex-direction: column;
    }

    & .kanban-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-inline: 18px;

        & div {
            & .btn--light-blue {
                padding: 4px 6px;
            }

            &>div {
                display: inline-flex;
                gap: 16px;
            }
        }
    }

    & .kanban-card-wrapper {
        overflow-y: auto;
    }

    & .kanban-card {
        flex: 1;

        & .kanban-card-row {
            background-color: var(--light-gray);
            padding-top: 12px;
            padding-bottom: 24px;
            padding-inline: 12px;
            border-radius: 20px;
            margin-bottom: 12px;
        }

        & .kanban-card-row__img {
            margin-bottom: 15px;

            & img {
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }

        & .kanban-card-row__label {
            font-size: 12px;
            margin-top: 4px;
            margin-bottom: 20px;
        }

        & .kanban-card-row__progress {
            background-color: var(--medium-light-blue);
            width: 100%;
            height: 4px;
            border-radius: 4px;
            margin-bottom: 20px;

            &>.kanban-card-row__progress-bar {
                height: 100%;
                border-radius: 4px;
                background-color: var(--dark-blue);
            }
        }

        & .kanban-card-row__title {
            & p {
                font-size: 14px;
            }
        }

        & .kanban-card-row__bottom {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));

            & .kanban-card-row__bottom-left {
                grid-column: span 7;
            }

            & .kanban-card-row__bottom-right {
                grid-column: span 5;
            }

            & ul {
                list-style: none;
                padding-left: 0px;
                display: flex;
                gap: 12px;
                margin: 0px;
                padding: 0px;

                & li {
                    & div {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }

                    & span {
                        font-size: 12px;
                        align-self: center;
                    }
                }
            }

            & .avatar-stacked {
                justify-content: end;

                & img,
                & .avatar-stacked__text {
                    width: 30px;
                    height: 30px;
                    border-width: 1px;
                    margin-left: -8px;
                }

                & .avatar-stacked__text {
                    font-size: 12px;
                }

            }
        }
    }
}