@import '../theme/variables.css';

nav {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-block: 24px;
    padding-inline: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray);

    & .nav__left {
        grid-column: span 6;
        display: flex;
        align-items: center;
        gap: 16px;

        & .btn-project-list {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 12px;
            margin-right: 12px;

            & .lucide-chevron-down {
                margin-top: 2px;
            }
        }

        & .text-project {
            font-size: 18px;
            font-weight: 400;
            align-self: center;
        }
    }

    & .nav__right {
        grid-column: span 6;
        display: flex;

        & .bg-transparent--export-import {
            width: 400px;
        }
    }
}

.avatar-stacked {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & img,
    & div {
        width: 36px;
        height: 36px;
        margin-left: -10px;
        border-radius: 50%;
        object-fit: cover;
        border-width: 2px;
        border-style: solid;
        border-color: #ffffff;
    }

    & div {
        background-color: var(--dark-blue);
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:first-child {
        & img {
            margin-left: 0;
        }
    }
}