@import '../theme/variables.css';

nav {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-block: 24px;
    padding-inline: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray);

    & .nav__left {
        grid-column: span 6;
        display: flex;
        align-items: center;
        gap: 16px;

        & .btn-project-list {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 12px;
            margin-right: 12px;

            & .lucide-chevron-down {
                margin-top: 2px;
            }
        }

        & .text-project {
            font-size: 18px;
            font-weight: 400;
            align-self: center;
        }
    }

    & .nav__right {
        grid-column: span 6;
        display: flex;
        gap: 20px;

        & .bg-transparent--export-import {
            width: 400px;
        }
    }
}